.container{
    width: 900px;
    border: 1px solid black;
    height: auto;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    font-size: 20px;
    text-align: center;
    color: black;
}

.nav a {
    text-decoration: none;
}

.t {
    justify-content: space-between;
    margin: 10px;
}

.bar {
    list-style: none;
    display: flex;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.icon {
    cursor: pointer;
    font-size: 24px;
    color: black;
    display: none;
    float: right;
}
.location{
    padding-top: 70px;
    align-items: center;
    padding-left: 25px;
    margin-bottom: 40px;
}